<!DOCTYPE html>
<html lang="en" class="cyclops">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relational DB</title>

    <link href="https://assets.ctl.io/cyclops/1.6.1/css/cyclops.min.css" rel="stylesheet" type="text/css">
    <link href="https://assets.ctl.io/atlas/2.0.0-beta.4/css/atlas.min.css" rel="stylesheet" type="text/css">
    <link href="/css/site.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="/external/html5shiv-3.7.2.min.js"></script>
    <script src="/external/respond-1.4.2.min.js"></script>
    <![endif]-->
</head>

<body id="relational-db">
    <account-switcher></account-switcher>
    <brand-bar></brand-bar>
    <main-nav></main-nav>
    <main>
        <div class="container" id="mainContent">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li data-bind="with: toSubscription">
                            <a href="/{{.AccountAlias}}/subscription/{{.SubscriptionId}}">
                                <svg class="cyclops-icon"><use xlink:href='#icon-chevron-left' /></svg>
                                <span data-bind="text: externalId"></span></a>
                        </li>
                    </ol>
                    <div class="content-header" data-bind="with: toSubscription">
                        <h1>Restore To: <span data-bind="text: externalId"></span> </h1>
                    </div>
                    <form id="restoreForm" class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true, errorsAsTitle: false}">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Restore From</label>
                                <div class="col-sm-6">
                                    <select class="form-control" data-bind="options: fromSubscriptions,
                                                                            optionsText: function(subscription) {
                                                                                return subscription.location + ' ' + subscription.externalId + ' (port: ' + subscription.port + ', storage: ' + subscription.storage + ' GB)'
                                                                            },
                                                                            value: fromSubscription,
                                                                            optionsAfterRender: renderFromSubscriptions">
                                    </select>
                                    <p class="help-block">Restore from any subscription of equal or smaller storage size.</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Restore Type</label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="restoreTypeRadios" id="fullRestore" value="full" data-bind="checked: restoreType">Full Restore
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="restoreTypeRadios" id="pointInTimeRestore" value="point-in-time" data-bind="checked: restoreType">Point in Time Restore
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- START: Full Restore -->
                            <div class="form-group" name="fullRestoreFromBackup" data-bind="visible: restoreType() == 'full', with: fromSubscription">
                                <label class="col-sm-3 control-label">Backup</label>
                                <div class="col-sm-6">
                                    <select class="form-control" data-bind="options: backups,
                                                                            optionsText: function(item) {
                                                                                return item.formattedBackupTime();
                                                                            },
                                                                            value: $parent.fromBackup">
                                    </select>
                                </div>
                            </div>
                            <!-- END: Full Restore -->


                            <!-- START: Point-In-Time Restore -->
                            <div data-bind="visible: restoreType() == 'point-in-time'">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Restore Point</label>
                                    <div class="col-sm-6">
                                        <date-time-picker params="dateTime: selectedDateTime"></date-time-picker>
                                        <p class="hide" data-bind="validationMsg: selectedDateTime"></p>
                                        <p class="help-block">Restore point <span data-bind="text: selectedDateTime().format('MMMM DD, YYYY HH:mm:ss.SSS z')"></span>.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div class="alert alert-info" role="alert">
                                            <div class="alert-icon">
                                                <svg class="cyclops-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info-circle"></use></svg>
                                            </div>
                                            <p>Select any point in time between available restore points:<br></p>
                                            <ul class="list-unstyled" data-bind="foreach: restorePoints">
                                                <li style="margin-left:4em">
                                                    <span data-bind="text: formattedStartPosition"></span> and <span data-bind="text: formattedEndPosition"></span><br>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Point-In-Time Restore -->

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="alert alert-warning" role="alert">
                                        <div class="alert-icon">
                                            <svg class="cyclops-icon"><use xlink:href='#icon-exclamation-circle'/></svg>
                                        </div>
                                        <h4>Warning</h4>
                                        <p>This restoration will overwrite the current database.</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group form-submit">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button class="btn btn-primary btn-lg" data-bind="click: restoreSubscription">restore</button>
                                <button class="btn btn-link btn-lg" data-bind="click: cancel">cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/external/require.js"></script>
    <script src="/js/require-config.js"></script>
    <script>
        require(["jquery", "jqueryUI", "knockout", "knockout-validation", "auth0", "moment"],
                function(jquery, jqueryUI, ko, kovalidation, auth0, moment) {
                    window.ko = ko;
                    window.Auth0 = auth0;
                    window.moment = moment;
                    require(["cyclops", "atlas"], function(cyclops, atlas) {
                        window.atlas = atlas;
                        require(["views/restore"], function(restore) {
                            var promise = atlas.liftoff({
                                env: "prod",
                                mainNavId: "Main.Services.RelationalDatabaseService"
                            });

                            promise.done(function(contexts) {
                                var accountContext = contexts.accountContext;
                                var viewModel = new restore.ViewModel("{{.SubscriptionId}}", "{{.RdbsApi}}", accountContext);
                                ko.applyBindings(viewModel, document.getElementsByTagName("main")[0]);

                                accountContext.subscribe(function(context) {
                                    if (context.accountAlias.toUpperCase() !== "{{.AccountAlias}}".toUpperCase()) {
                                        console.log("Switching to new Account Context");
                                        window.location = "/";
                                    }
                                });
                            });
                        });
                    });
                });
    </script>
</body>
</html>
